body {
	background-color:	#eef;
	font-family:		Verdana, sanserif;
	font-size:          12px;
/*	width:				100%;*/
}

.columns td {
	padding-right:	8px;
}

#leftcolumn {
	/*border-right:	1px solid black;*/
/*	width:			500px;*/
}

p.indent{ padding-left: 1.8em }

.columns {
	border-collapse:	collapse;
}

#controls {
	line-height:	1.0em;
}

form {
    display: inline-block;
}

.button {
	-webkit-appearance:	button;
	font-family:	Verdana;
	font-style:     bold;
	font-size:		1.2em;
	border-radius:	5px;
	margin:	8px 0px;
	background-color:	White;
}

#customform {
	/*line-height:	1em;*/
	/*margin-top:		1em;*/
}

#customform td {
	padding:	0px 0px;
}

.noerror {
	visibility:		hidden;
}

.error {
	color:			Red;
}

.hidecustom {
	visibility:		hidden;
}

.showcustom {
	visibility:		visible;
}
/*
#bomberrormsg {
	width:			15em;
}
*/
